$pad:30px;

.container{
    background-color: azure;
    padding: $pad;
}
.loading{
    color: blueviolet;
    animation: pulse 3s infinite;
}
.opt{
    padding: 30px;
}
.book-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.list{
    li{
        p{
            font-weight: 600;
            cursor: pointer;
            display: inline-block;
            line-height: 0;
        }
    }
}
.button{
    border: 1px solid chartreuse;
    padding: 0 11px;
    background: rgb(187, 255, 120);
    font-size: 1.5rem;
}
td{
    line-height: 0;
}
@keyframes pulse{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}